header {
  text-align: center; }
  header .seo {
    display: none; }
  header .logo {
    width: 200px; }
  header .bg-oscuro-custom {
    background-color: #1c1c1c;
    opacity: 90%;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 6px;
    margin-bottom: 20px;
    margin-top: 20px; }
  header .discordw {
    margin-bottom: 200px;
    width: 400px;
    height: 420px; }
  @media (max-width: 320px) {
    header .discordw {
      width: 300px; } }

main .text-color {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 200px; }

.widht--discord {
  width: 50px; }

.widht--instagram {
  width: 50px; }

.redes {
  position: fixed;
  bottom: 90px;
  z-index: 1111; }
  .redes .discord {
    width: 50px; }
  .redes .instagram {
    width: 50px; }

footer {
  background-color: black;
  padding: 8px;
  text-align: center;
  color: white;
  opacity: 90%; }

.body-size, #body-inicio, #body-novedades, #body-soporte, #body-foro, #body-tienda {
  background-size: 1920px 1500px;
  background-repeat: no-repeat; }

#body-inicio {
  background-image: url("../img/imagen-fondo.jpg");
  text-align: center; }

#body-novedades {
  background-image: url("../img/imagen-fondo-novedades.jpg");
  text-align: center; }

#body-soporte {
  background-image: url("../img/imagen-fondo-soporte.png");
  text-align: center; }

#body-foro {
  background-image: url("../img/imagen-fondo-foro.png");
  text-align: center; }

#body-tienda {
  background-image: url("../img/imagen-fondo-tienda.jpg");
  text-align: center; }

main .box-novedades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  margin-top: -150px; }
  main .box-novedades .n-item1 {
    text-align: center;
    width: 70%;
    animation-name: novedades;
    animation-duration: 2s;
    animation-iteration-count: start; }
  main .box-novedades .n-item2 {
    text-align: center;
    width: 50%;
    animation-name: novedades;
    animation-duration: 2s;
    animation-iteration-count: start; }
  @media (max-width: 768px) {
    main .box-novedades .box-novedades {
      grid-template-columns: 400px;
      grid-template-rows: repeat(1, 1fr);
      justify-content: center; }
    main .box-novedades .n-item1 {
      text-align: center;
      width: 70%; }
    main .box-novedades .n-item2 {
      text-align: center;
      width: 50%; } }
  @media (max-width: 425px) {
    main .box-novedades .box-novedades {
      grid-template-columns: 200px;
      grid-template-rows: repeat(1, 1fr);
      justify-content: center; }
    main .box-novedades .n-item1 {
      text-align: center;
      width: 70%; }
    main .box-novedades .n-item2 {
      text-align: center;
      width: 50%; } }

@keyframes novedades {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }
